
section {
    width: 50vh;
    height: 50vh;
    background-color: aqua;
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

button {
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
}

h1 {
    z-index: 999;
}